<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card mb-4 shadow-sm">
      <img width="100%" height="100%" src="<%= url_for(post.photo) %>"/>
      <div class="card-body">
        <p class="card-text">
          <%= post.description %>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <% if current_user %>
            <div class="btn-group">
              <% if current_user.id != post.user.id %>

                <%= form_tag(url_for(controller: 'posts', action: 'like', id: post.id), remote: true, method: 'put') do %>
                  <%= button_tag(type: 'submit', remote: true) do %>
                    <span id="post-like-icon-<%= post.id %>" class="<%= current_user.likes?(post) ? 'fas fa-heart' : 'far fa-heart' %>">
                    </span>
                  <% end %>
                <% end %>

                <%= form_tag(url_for(controller: 'follows', action: 'create', id: post.user.id), remote: true, method: 'post') do %>
                  <%= hidden_field_tag(:follower_nickname, current_user.nickname) %>
                  <%= hidden_field_tag(:followed_nickname, post.user.nickname) %>

                  <%= button_tag(type: 'submit', remote: true) do %>
                    <span data-post-user-id="<%= post.user.id %>"
                          class="<%= current_user.following?(post.user) ? 'fas fa-user-check' : 'fas fa-user-plus' %>">
                    </span>
                  <% end %>

                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="btn-group">
              <button onclick="window.location.href='/users/sign_up'" class="btn btn-sm btn-outline-secondary">
                <span class="far fa-heart"></span>
              </button>
              <button onclick="window.location.href='/users/sign_up'" class="btn btn-sm btn-outline-secondary">
                <span class="fas fa-user-plus"></span>
              </button>
            </div>
          <% end %>

          <small class="text-muted" data-follow-by-nickname="<%= post.user.nickname %>">
            Authored by : <%= link_to post.user.nickname, view_profile_path(:nickname => post.user.nickname) %>
          </small>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted" data-like-by-id="<%= post.id %>">
            <%= "Created at : #{post.created_at }" %>
          </small>
        </div>

      </div>
    </div>
  </div>
</div>